<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
            integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

    <title>Algorithm Selection</title>
</head>
<body>
    <div class='flex flex-col items-center w-full min-h-screen from-teal-100 via-teal-300 to-teal-500 bg-gradient-to-br'>

        <div class="flex items-center w-11/12 bg-white rounded-lg shadow-xl p-4 my-6">
            <button class="bg-transparent text-rose-400 hover:border-transparent duration-200
                transition ease-in-out hover:bg-rose-400 hover:bg-rose-400 hover:scale-110
                font-semibold hover:text-white py-2 px-4 border border-rose-400 rounded-lg hover:shadow-xl"
                id="send-instance-button">
              Send instance
            </button>

            <input class="grow ml-4 font-semibold rounded-lg border border-solid border-gray-300
                          text-neutral-500 py-2 px-4 duration-300
                          hover:border-rose-400 cursor-pointer file:hidden
                         "
                   type="file" name="instance-file-input" id="instance-file-input">
        </div>

        <div class="flex flex-col items-center w-11/12" id="libraries">

        </div>

    </div>
</body>

<script type="module" charset="utf-8" src="../static/js/index.js"></script>

</html>